# Ping pong List øvelser

---
## 1: Er det en tuple eller en liste?
Følgende data bør præsenteres enten som en liste eller en tuple, eller som en kombination af begge.    
Dit job er at vælge den rigtige.    
Hint: En liste er en samling af data af samme type, en tuple er en 'record type' (f.eks. i en database er en **record** en **række**).    

1. Claus, 51, male, clbo@kea.dk, 31011970-1313
2. Bmw, Toyota, Hyundai, Skoda, Fiat, Volvo
3. Claus, Henning, Torben, Carl, Tine
4. 'Hello', 'World', 'Huston', 'we', 'are', 'here'
5. Rolling Stones, Goats Head Soup, 31 August 1973, 46:56
6. 40.730610, -73.935242, New York City, NY, USA; 31.739847, 65.755920, Kandahar, Kandahar Province, Afghanistan;

1. tuple
2. list
3. list
4. tuple og list
5. tuple
6. tuple

---
## 2: Slicing
Ved hjælp af `slicing` skal du arbejde med følgende collections.

In [ ]:
"""
['Hello', 'World', 'Huston', 'we', 'are', 'here'] bliver til -> ['World', 'Huston', 'we', 'are']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['Hello', 'World']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['are', 'here']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['are']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['Hello', 'Huston', 'are']
['Hello', 'World', 'Huston', 'we', 'are', 'here'] -> ['here', 'are', 'we', 'Huston', 'World', 'Hello']
('Hello', 'World', 'Huston', 'we', 'are', 'here') bliver til -> ['World', 'Huston', 'we', 'are']
'Hello World Huston we are here' -> 'World Huston we'
"""

Find andre eksempler på egen hånd og øv dette mange gange.

In [2]:
my_list = ['banana', 'kiwi', 'apple', 'pear', 'fig', 'apricot', 'orange']

print(my_list[1:3])
print(my_list[2:5])
print(my_list[::-1])
print(my_list[::2])
print(my_list[1:-1])
print(my_list[-3:])
print(my_list[::3])
print(my_list[-1:-4:-1])
print(my_list[3:0:-1])
print(my_list[0:5:2])
print(my_list[-1::-2])

['kiwi', 'apple']
['apple', 'pear', 'fig']
['orange', 'apricot', 'fig', 'pear', 'apple', 'kiwi', 'banana']
['banana', 'apple', 'fig', 'orange']
['kiwi', 'apple', 'pear', 'fig', 'apricot']
['fig', 'apricot', 'orange']
['banana', 'pear', 'orange']
['orange', 'apricot', 'fig']
['pear', 'apple', 'kiwi']
['banana', 'apple', 'fig']
['orange', 'fig', 'apple', 'banana']

3: Loops med range og enumerate

1. lav en tom liste
2. lav et loop (for loop) som itererer 10 gange
3. tilføj for hver iteration henholdsvis 1, 2, 4, 8, 16,

In [12]:
myList = []
count = 1
for i in range(10):
    myList.append(count)
    count *= 2

print(myList)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

## 3: List Comprehensions

**Alfabet List Comprehensions**

1. Lav en liste af store bogstaver fra det engelske alfabet

In [ ]:
eng_alfabet = ('ABCDEFGHIJKLMNOPQRSTUVWXYZ')

2. Lav en liste af store bogstaver fra det engelske alfabet, men udelad 4 med Unicode-kodepunktet enten 70, 75, 80, 85.

In [ ]:
# Definer de bogstaver du vil udelade, baseret på Unicode-kodepunkter
excluded_letters = (chr(70), chr(75), chr(80), chr(85))  # F, K, P, U
eng_alphabet = ('ABCDEFGHIJKLMNOPQRSTUVWXYZ')

# List comprehension: Tilføj kun bogstaver der IKKE er i excluded_letters
alphabet = [letter for letter in eng_alphabet if letter not in excluded_letters]
alphabet_sorted = sorted(alphabet)

print(alphabet_sorted)

['A', 'B', 'C', 'D', 'E', 'G', 'H', 'I', 'J', 'L', 'M', 'N', 'O', 'Q', 'R', 'S', 'T', 'V', 'W', 'X', 'Y', 'Z']

3. Lav en liste af store bogstaver fra det engelske alfabet, men udelad hvert andet bogstav mellem F & O

---
## 5: List Comprehension øvelser

* Lav en liste af lige tal fra 0 til 20.
* Lav en liste af kvadrater af tal fra 1 til 10.
* Lav en liste af alle vokaler i en given streng.
* Lav en liste af fælles elementer i to givne lister.
* Lav en liste af ord fra en given streng, der har mere end 4 bogstaver.